body {
    background-color: #eee;
}

header {
    font-size: 18px;
    background-color: #222;
    color: #fff;
}



header .logo, header .logo a {
    font-style: italic;
    text-decoration: none;
}

header a {
    color: #fff;
}


.contact + .contact {
    margin-top: 2rem;
}

.contact {
    background-color: #ccc;
    width: 80%;
}

.contact .fieldname {
    font-weight: bold;
}
