body {
    background-color: #eee;
}

header {
    font-size: 18px;
    font-style: italic;
    background-color: #222;
    color: #fff;
}

header a, header a:hover {
    color: #fff;
    text-decoration: none;
}

.contact + .contact {
    margin-top: 2rem;
}

.contact {
    background-color: #ccc;
    width: 80%;
}

.contact .fieldname {
    font-weight: bold;
}
