{% extends "contactscore/base_template.html" %}
{% block maincontent %}

<h1>Welcome to Contacts App!</h1>

<div class="d-flex flex-row gap-3 mb-5 justify-content-between">
    <div class="card flex-grow-1">
        <div class="card-body">
            <h2 class="total-contact-books">--</h2>
        </div>
        <div class="card-footer">
            Total contact books
        </div>
    </div>
    <div class="card flex-grow-1">
        <div class="card-body">
            <h2 class="total-contacts">--</h2>
        </div>
        <div class="card-footer">
            Total contacts
        </div>
    </div>
</div>


<a class="btn btn-primary" href="{% url 'add_contactbook_name' %}"><i class="bi bi-book"></i> Add new contact book</a>


{% include 'contactscore/components/contactbook_list.html' with contact_books=contact_books %}
<!--{% include 'contactscore/components/contact_list.html' with contacts=contacts %}-->

<script type="text/javascript">
    loadHomepageTotals().then(res => {
        document.querySelector('.total-contact-books').innerHTML = res.contact_books;
        document.querySelector('.total-contacts').innerHTML = res.contacts;
    });
</script>

{% endblock %}
